<h3>jackson<br>breyer</h3>

<ul>    
    <li class="menu_li">
        <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='img/avatar.png') }}" id='prof_pic'>
        </a>
    </li>

    <br>

    <li class="menu_li">
        <a href="{{ url_for('index') }}">/</a><br>
    </li>

    <li class="menu_li">
        <a href="{{ url_for('about') }}">about</a><br>
    </li>
    <li class="menu_li">
        <a href="{{ url_for('projects') }}">projects</a><br>
    </li class="menu_li">

    <li class="menu_li">
        <a href="{{ url_for('interests') }}">interests</a><br>
    </li>

    <li class="menu_li">
        <a href="{{ url_for('contact') }}">social + contact</a><br>
    </li>
</ul>

</script>