.title {
    font-size: 24px;
    text-decoration: none;
}

.oneOfManyPosts {
    max-height: 16em;
    overflow-y: hidden;
}

.oneOfManyPostsContainer {
    padding-top: 2em;
    padding-bottom: 1em;
}

.readMoreLink {
    padding-bottom: 2em;
}

.date {
    font-style: italic;
    padding-bottom: 1em;
}