.headerContainerMainSite {
    margin-bottom: 3em;
}

.headerContainerBlogSite {
    margin-bottom: 1.5em;
}

.title {
    font-size: 48px;
    font-weight: bold;
}

.subheader {
    padding-top: 0.25em;
}
