.headerContainerMainSite {
    margin-bottom: 3em;
    font-family: 'Cardo', serif;
}

.headerContainerBlogSite {
    margin-bottom: 1.5em;
    font-family: 'Cardo', serif;
}

.title {
    font-size: 48px;
}

.subheader {
    padding-top: 0.25em;
}
