.separator {
    border-bottom: 1px dotted black;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
}

.syllables {
    padding-bottom: 15px;
}

.definition{
    padding-bottom: 20px;
    font-size: 18px;
}

.footnote {
    padding-left: 30px;
    padding-bottom: 7px;
}