// Styling for an individual post

.postTitle {
    font-family: 'Spectral Medium', serif;
    font-size: 26px;
}

// This is the markdown header I use
.markdownBody {
    h4{
        font-family: 'Spectral Medium', serif;
        font-size: 18px;
    }
}

.postDate {
    font-family: 'Spectral Light', serif;
    font-size: 16px;
}

.postHeader {
    margin-bottom: 2em;
}