// Styling for an individual post

.postTitle {
    font-size: 28px;
    font-weight: bold;
}

// This is the markdown header I use
.markdownBody {
    h4{
        font-size: 17px;
    }
}

.postDate {
    padding-top: 1em;
    font-size: 17px;
}

.postHeader {
    margin-bottom: 4em;
}

.goBackLink {
    padding-top: 4em;
    padding-bottom: 4em;
}

.backLinkText {
    color: #8a8a8a !important; 
    font-size: 17px;
}