.frameContainer {
    display: flex;
    height: 100%;
}

.contentContainer {
    padding: 75px;
    width: 33em; // 1 em is about 0.5 chars. 66 chars per line is recommended for single-column formats
}    

.scrollContainer {
    overflow-y: scroll;
    width: 100%;
}