// RIP
// @font-face {
//     font-family: 'Din Sans';
//     src: url(/font/DINPro.otf) format('opentype');
// }

@font-face {
    font-family: 'Spectral';
    src: url(/font/Spectral/Spectral-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Spectral Medium';
    src: url(/font/Spectral/Spectral-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Spectral Light';
    src: url(/font/Spectral/Spectral-Light.ttf) format('truetype');
}

/* Global styles */
html, body {
    font-family: 'Spectral', serif;
    line-height: 1.35; 
    font-size: 20px;
    
    height: 100%;
    margin: 0;
}

p {
    margin-bottom: 1.45em;
}

section {
    height: 100%;
}

a {
    color: #549dc4 !important;
    text-decoration: none;
}

a:visited {
    color: black;
}