// RIP
// @font-face {
//     font-family: 'Din Sans';
//     src: url(/font/DINPro.otf) format('opentype');
// }

// @font-face {
//     font-family: 'Iowan Old Style';
//     src: url(/font/IowanOldStBTRoman.ttf) format('truetype');
// }


/* Global styles */
html, body {
    font-family: 'Iowan Old Style', serif;
    font-kerning: auto;
    line-height: 1.5; 
    font-size: 17px;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    
    height: 100%;
    margin: 0;
}

p {
    margin-bottom: 1.45em;
}

section {
    height: 100%;
}

a {
    color: #549dc4 !important;
    text-decoration: none;
}

a:visited {
    color: black;
}