// RIP
// @font-face {
//     font-family: 'Din Sans';
//     src: url(/font/DINPro.otf) format('opentype');
// }

@font-face {
    font-family: 'Spectral';
    src: url(/font/Spectral/spectral-regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Iowan Old Style';
    src: url(/font/IowanOldStBTRoman) format('truetype');
}


@font-face {
    font-family: 'Spectral Medium';
    src: url(/font/Spectral/spectral-medium.woff2) format('woff2');
}

@font-face {
    font-family: 'Spectral Light';
    src: url(/font/Spectral/spectral-light.woff2) format('woff2');
}

/* Global styles */
html, body {
    font-family: 'Iowan Old Style', serif;
    font-kerning: auto;
    line-height: 1.5; 
    font-size: 17px;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    
    height: 100%;
    margin: 0;
}

p {
    margin-bottom: 1.45em;
}

section {
    height: 100%;
}

a {
    color: #549dc4 !important;
    text-decoration: none;
}

a:visited {
    color: black;
}