// Styling for the list of posts

.postEntry {
    margin-bottom: 1.5em;
    display: flex;
    color: #333333 !important;
}

.postDate {
    font-size: 15px;
    color: #8a8a8a;
}

.separator {
    border-bottom: 1px dotted #333333;
    opacity: .25;
    flex-grow: 3;
    margin-left: 1em;
    margin-right: 1em;
    height: 1em;
}
