// Styling for the list of posts

.postEntry {
    margin-bottom: 1.0em;
    display: flex;
    color: #333333 !important;
}

.postDate {
    font-size: 15px;
    color: #717171;
}

.separator {
    border-bottom: 1px dotted #717171;
    opacity: .25;
    flex-grow: 3;
    margin-left: 0.5em;
    margin-right: 0.5em;
    height: 1em;
}
