// Styling for the list of posts

.postEntry {
    margin-bottom: 3em;
}

.entryTitle {
    color: #333333 !important;
    font-family: 'Iowan Old Style', serif;
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
}

.entryDate {
    font-family: 'Iowan Old Style', serif;
    font-size: 16px;
    margin-bottom: 0.5em;
}