<head>
    {% include "partials/common_head.html" %}
    <title>
        about
    </title>
</head>


<body>

    <div class="header"></div>

    <div class='row'>
        <div class="col-md-1"></div>
        <div id="menu" class="col-md-2">
            {% include "partials/menu.html" %}
        </div>
        <div class="col-md-6">
            <h2 align="center">about</h2>

            <div class="feature">
                <ul>
                <li>who's jackson breyer?</li>
                    <p>I have a background in Linguistics and a passion for Software Development and NLP. </p>
                </ul>
            </div>
        </div>
        <div class="col-md-3"></div>

    </div>
</body>