<head>
    {% include "partials/common_head.html" %}
    <title>jackson breyer</title>

</head>

<body>

<div class="header"></div>

    <div class=row>
        <div class="col-md-1"></div>
        <div id="menu" class="col-md-2">
            {% include "partials/menu.html" %}
        </div>

        <div class="col-md-6">

            <h2 align="center">hello</h2>

            <div class="feature">
                Welcome to my site! Feel free to take a look around. If you want to contact me, just click the link to the left. If you're curious about how I made the site, then you might find <u><a href="https://github.com/breyerjs/jacksonbreyer">this</a></u> github repo to be helpful. 
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>


</body>