<head>
    {% include "partials/common_head.html" %}
    <title>
        contact + external
    </title>
</head>


<body>

    <div class="header"></div>

    <div class='row'>
        <div class="col-md-1"></div>
        <div id="menu" class="col-md-2">
            {% include "partials/menu.html" %}
        </div>
        <div class="col-md-6">
            <h2 align="center">contact</h2>

            <div class="feature">
                <ul>
                    <li class="menu_li"><a href="https://angel.co/jackson-breyer">angel list</a></li>
                    <li class="menu_li"><a href="https://www.github.com/breyerjs">github</a><br></li>
                    <li class="menu_li"><a href="https://www.linkedin.com/in/breyerjs">linkedin</a><br></li>
                    <li class="menu_li">breyer{dot}js{at}gmail{dot}com</li>
                </ul>

            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</body>