<head>
    {% include "partials/common_head.html" %}
    <title>
        interests
    </title>
</head>


<body>

    <div class="header"></div>

    <div class='row'>
        <div class="col-md-1"></div>
        <div id="menu" class="col-md-2">
            {% include "partials/menu.html" %}
        </div>
        <div class="col-md-6">
            <h2 align="center">interests</h2>

            <div class="feature">
                <ul>
                    <li>linguistics</li>
                        <p>I studied Linguistics as an undergraduate English major, and have been happily diagramming sentences since the fifth grade.</p>

                    <li>natural language processing</li>
                        <p>The intersection of Linguistics and Computer Science! Everything I love, bundled into a single package. I think there's a lot of unexplored potential to leverage existing NLP technology.</p>
                    <li>hiking</li>
                        <p>It's great to get outdoors and do some hiking. Living in San Francisco gives me access to some amazing parks like Yosemite.</p>
                    <li>martial arts</li>
                        <p>I've practiced Taekwondo in various styles for 17 years. I have a black belt from the World Taekwondo Federation and worked as an instructor all through high school.</p>
                    <li>fantasy reading + writing</li>
                        <p>Books are fun! Recently, I've been reading a lot of Patrick Rothfuss and Neil Gaiman.</p>
                </ul>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</body>