/// VIEWPORT AGNOSTIC ///

.headerContainer {
    margin-bottom: 4em;
    padding-top: 3.5em;
}

.title {
    font-family: 'Spectral Medium', serif;
    font-size: 38px;
    padding-right: 5em;
    white-space: nowrap;
}

.avatarPadding {
    padding-right: 1.5em;
}


.navItemGroup {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 0.25em;
}

.navItem {
    margin-left: .75em;
    margin-right: .75em;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    color: black !important;
}

.selectedNavItem {
    border-bottom: 1px solid #549dc4;
}

// Needed to offset the border on the selected item
.unselectedNavItem {
    padding-bottom: 1px;
}

/// WWW SPECIFIC ///

.wwwTitleRow {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
}

// Hides the www header if the screen is too narrow
@media only screen and (max-width: 759px) {
    .wwwTitleRow { display: none; }
}

/// MOBILE SPECIFIC ///

.mobileTitleRow {
    display: flex;
    align-items: flex-end;
    flex-flow: row wrap;
}

// Hides the mobile header if the screen is too wide
@media only screen and (min-width: 760px) {
    .mobileTitleRow { display: none; }
}

// Add padding to the avatar if mobile viewer
.mobileTitleRow > .avatar {
    padding-left: 1em;
    padding-right: 1em;
}

// Remove padding btwn title and nav when in mobile window
.mobileTitleRow > .title {
    padding-right: 0em;
}

.mobileTitleRow > .navItemGroup {
    padding-top: 1em;
    padding-left: 4em;
}

.lineBreak {
    width: 100px;
}