/* Global styles */
html, body {
    font-family: 'Cardo', serif;
    font-size: 16px;

    // Gotta make that font look good
    text-rendering: geometricPrecision;
    
    height: 100%;
    margin: 0;
    background: #efefef;
    /* Prevent scrolling */
    // overflow: hidden; 
}

section {
    height: 100%;
}

a {
    color: black;
}

a:visited {
    color: black;
}