@font-face {
    font-family: 'Din Sans';
    src: url(/src/Font/DINPro.otf) format('opentype');
}

/* Global styles */
html, body {
    font-family: 'Din Sans', sans-serif;
    // RIP font-family: 'Lato', sans-serif;
    // RIP ugly body font font-family: 'Cardo', serif;

    // Gotta make that font look good
    line-height: 1.35; 
    font-size: 16px;
    
    height: 100%;
    margin: 0;
    background: #efefef;
}

p {
    margin-bottom: 1.35em;
}

section {
    height: 100%;
}

a {
    color: black;
}

a:visited {
    color: black;
}