/* Global styles */
html, body {
    font-family: 'Lato', sans-serif;
    // RIP ugly body font font-family: 'Cardo', serif;

    // Gotta make that font look good
    text-rendering: geometricPrecision;
    line-height: 1.35; 
    font-size: 16px;
    
    height: 100%;
    margin: 0;
    background: #efefef;
}

section {
    height: 100%;
}

a {
    color: black;
}

a:visited {
    color: black;
}