.layoutContainer {
    display: flex;
    height: 100%;
}

.contentContainer {
    padding: 75px;
    overflow-y: scroll;
    width: 33em; // 1 em is about 0.5 chars. 66 chars per line is recommended for single-column formats
}

.tooSmall {
    padding: 10px;
}