.contentContainer {
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 2em;
    max-width: 35em; // 1 em is about 0.5 chars. 66 chars per line is recommended for single-column formats
    margin: auto;
    text-align: left;
    
}

// Less padding if we're on a mobile screen
@media only screen and (max-width: 759px) {
    .contentContainer { 
        padding-left: 2em;
        padding-right: 2em;
    }
}

.layoutContainer{
    text-align: center;
}
