.contentContainer {
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 2em;
    max-width: 33em; // 1 em is about 0.5 chars. 66 chars per line is recommended for single-column formats
    margin: auto;
    text-align: left;
    
}

.layoutContainer{
    text-align: center;
}
